

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>
<section id="sec2">
    <div class="pimg1">
            <div class="papercont">
                    <h1>Specializations</h1>
                
                <div class="paperrows">
                <article class="paper">
                    <h2>Shakesperean Era</h2>
                    <img src="../../assets/images/Shakes.jpg">
                    <p>Intro</p>
                </article>
                <article class="paper">
                    <h2>Elizabethen Era</h2>
                    <img src="../../assets/images/Eliza.jpg">
                    <p>Intro</p>
                </article>
                <article class="paper">
                    <h2>Jacobean Era</h2>
                    <img src="../../assets/images/jacob.jpg">
                    <p>Intro</p>
                    </article>
                </div>
            </div>
    </div>
    </section>

    <section id="sec3">
        <div class="pimg2">  
         
            <div class="list">
                    <ul>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                        <li>Hobbies- Cooking, Playing guitar</li>
                        <li>Awards- Paiting competition, Debate, Speech </li>
                        <li>Achievements- Best student, Best athlete</li>
                      </ul>
                  </div>
                  
        </div>
      </section>
